*{
    background-image: url(images/fondo-inicio.png);
    background-repeat: no-repeat;
    /* lo de arriba se usa para poder poner la imagen de fondo y se pone el link de aquella imagen */ 
   
     background-size: 100%;
   
     /*tamaño del fondo  */ 
  
 }
 p{
    background: white;
 }
 .perfil{
    background: #ffffff;
    font-family: cursive;
}
a{
    text-decoration: none;
    background: #ffffff;
}
.texto{
    background: white;
    font-family: cursive;
}
 form{
     position: relative;
     /*La nueva posición de un elemento*/
     z-index: 1;
     /*indica el orden de un elemento posicionado */
     text-align: center;
     position: absolute;
     top: 50%;
     /*desplazamiento a la mitad de la altura*/
     left: 50%;
     width: 410px;
     /*establece el ancho de un elemento.*/
     padding: 50px;
     /* cantidad de espacio*/
     transform: translate(-50%, -50%);
     /* recoloca un elemento en el eje horizontal y/o vertical*/
     background: rgb(255, 255, 255);
     box-sizing: border-box;
      /* indica cómo se deben calcular las medidas de un elemento.*/
     box-shadow: 0 15px 25px rgb(248, 243, 247);
      /*para crear sombras en un elemento o un boton */
     border-radius: 10px;
 }
 
 input{
     background-color: #ffffff;
     border-style: none;
     border-color: #72166a;
     border-radius:10px;
     padding: 10px;
     width: 250px;
     margin: 10px;
 }
 h1{
     background: rgb(255, 255, 255);
     font-family: cursive;
 }
 #boton{
     margin: 10px;
     width: 100px;
     padding: 10px;
     border-radius: 10px;
     border: 10px;
     background: #eeb7ea;
     font-family: cursive;
     
 }
 
 #boton:hover{
     transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      /**/
     background: #c880ce;
 }

 